* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_division {
  background-color: lightyellow;
  padding: 20pxpx;
  height: 100vh;
}
.heading {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  font-style: italic;
  color: darkmagenta;
}
.content {
  font-size: 20px;
  color: darkslategray;
}
#submit_btn {
  text-align: center;
  margin: 20px;
}
#submit_btn > button {
  text-align: center;
  padding: 10px;
  width: 100px;
  font-size: 17px;
  border-radius: 7px;
  background-color: green;
  color: whitesmoke;
}
#submit_btn > button:hover {
  cursor: pointer;
  background-color: rgb(48, 148, 48);
}
